.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 8%;
}
.homePagePopular{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 500px;
    margin-bottom: 5%;
    border: 5px solid #02024b;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px;
}
.homePagePopularLink{
    text-decoration: none;
    width: 10%;
    color: white;
}
.homePagePopularLink:hover{
    color: #1d6969;
}
.homePagePopular > div > h2{
    padding-left: 20px;
}
.homePagePopular h2{
    font-size: 28px;
}
.homePagePopular > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.movieCard{
    width: 400px;
    height: 200px;
    margin: 10px 33px;
}
.movieCardLink{
    text-decoration: none;
    color: black;
}
.movieCardLink:hover{
    color: blue;
}
.movieCardLink:focus{
    color: aqua;
}
.homePagePoster{
    width: 200px;
    height: 300px;
    box-shadow: 1px 1px 20px 5px;
}
.movieCardLink > h3{
    color: white;
    text-align: center;
}
.movieCardLink > h3:hover{
    color: #1d6969;
}